/*  your css code here. If applicable */
.container{
  display : flexbox;	
}
img{
	display:none;
   margin :  10px;
	border : 3px solid black;
	box-shadow : 3px 3px 8px 0 rgba(0,0,0,0.3);
	
}
@media(max-width:25vs){
  img{
    display:visible;
}
}
